*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    background-color: #191633;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


h1 {
    color: white;
    margin: 50px;
    padding: 50px;
}
nav {
        width:100%; 
        background: #191633;
        height: 100px;
}

label.logo {
   color: white;
   font-size: 30px;
   line-height: 90px; 
   padding: 0 100px;
   font-weight: bold;
}



nav ul {
        float: right;
        margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 90px;
    margin-right: 30px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform:  uppercase;

}

a :active,a:hover{
    background: #1b9bff;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 90px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
}

nav ul li a{
    font-size: 16px;
}

<!-- @media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #191633;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;

    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left: 0;
    }
}

section{
    background: url(./Images/Untitled.png)
    no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
    padding: 50px
}
section p{
    color: white;

}
.pcenter{
    text-align: center;
    font-size: 30px;
    height: 150px;
    position: relative;
    top: -500px;
}
.pleft{
    text-align: left;
    padding: 5px;
}
.mesque{
    text-align: center;
    font-size: 70px;
    height: 150px;
    position: relative;
    top: -500px;
}
.coach{
    text-align: center;
    font-size: 30px;
    height: 150px;
    position: relative;
    top: -400px;
}
.legends{
    text-align: right;
    height: 150px;
    position: relative;
    top: -980px;
}

.slider{
    overflow: hidden;
}

.slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

.slider figure img{
    width: 20%;
    float: left;
}

@keyframes slider{
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}  
